
<!DOCTYPE html>
<html>
  <head>

    <!-- Dependencies -->
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script> <!-- MUST BE AT THE TOP (DECLARED FIRST) -->


    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <style><background-color: blue></style>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <link rel="stylesheet" href="../assets/css/announcements.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <% include ./partials/head %>
  </head>
  
  <body>
    <header>
      <% include ./partials/header %>
    </header>

    <script> 
      var tid; 
      var data = <%-announcements%>
      var branch = '<%-branch%>'


    </script>
    
    <div>

    <div class="card" id="super-card-mytickets">

      <div class="super-panel-heading">
        <a href="/announcements" class="channel-name stripe-two">Announcements</a>
      </div>

      <div class="panel panel-default bootcards-summary align-middle">
      <button id="create" type="button" class="btn btn-primary" onclick="getInfo()">Create an Announcement</button> 
     <script>
       
     </script>
        <div id="table-holder" class="container">
  

          <div class="tab-content">

          <!-- Set contents per tab -->
          <div id="announcTable" class="tab-pane fade in active">
           <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
           <script>

           for(var i = 0; i < Object.keys(data).length; i++) { 
                  data[i].SubmittedDate = data[i].SubmittedDate.slice(0,10)
              }


             $(document).ready(function(){


               myAnnouncements = $('#announcementsTable').DataTable( {
                "order": [[0, "desc"]],
                 "autoWidth": false,
                 "bInfo" : false,
                 "paging": false,
                 "searching": false,
                 "aaData": data,
                 "aoColumns": [

                   { "mDataProp": "SubmittedDate"},
                   { "mDataProp": "Title"},
                   { "mDataProp": "Announcement"},
                   { "mDataProp": "AID"},
                 ],
                 "columnDefs": [ {"targets": 0, "sortable": false,  "className": "dt-left", "width": "6%"}, {"targets": 1, "className": "dt-left", "sortable": false, "width": "15%"}, {"targets": 2, "className": "dt-left", "sortable": false, "width": "50%"}, {"targets": 3, "className": "dt-left", "visible": false, "sortable": false, "width": "2.5%"}]
               });
             });

               //only for testing
              if(branch == "IT"){
                $('#create').attr('style', "visibility: visible;");
              }

           </script>

           <link rel="#dataTable" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
           <table id="announcementsTable" class="display">
            <thead>
               <tr>
                 <th>Date:</th>
                 <th>Subject:</th>
                 <th>Message:</th>
             </tr>
             </thead>
           </table>
         </div>
        </div>
      </div>
    </div>
  </div>
  </div>
    <script>
      function getInfo(){

        bootbox.confirm({
          title: "Please confirm your information:",
          message: "<form id='infos' action=''>\
    Subject:<br><input type='text' name='subject' /><br/>\
    Message:<br><input type='text' name='message' />\
    </form>",
          buttons: {
            confirm: {
              label: 'Submit',
              class: 'btn-success',    
            },
          cancel: {
              label: 'Go back',
              class: 'btn-danger'
          }
          },
        callback: function (result) { 
          if(result){
            var subject = infos.elements[0].value;
            var message = infos.elements[1].value;
            console.log(subject);
            console.log(message);
            postData();
            //window.location.href = "/success";
          }
        }
        });
      }
      function postData(req, res){
        var subject = infos.elements[0].value;
        var message = infos.elements[1].value;
        var http = new XMLHttpRequest();
        var params = "Subject=" + subject + "&Message=" + message;
        var url = "/createAnnouncement";
        http.open("POST", url, true);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        http.onreadystatechange = function() {//Call a function when the state changes.
        if(http.readyState == 4 && http.status == 200) {
          console.log(http.responseText);
        }
        };
        http.send(params);
        return true;
        //alert(infos.elements[0].value); 
        //alert(res);
      };
    </script>
  <footer>
    <% include ./partials/footer %>
  </footer>
  </body>
</html>