<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>

    <header>
      <% include ./partials/header %>
    </header>
    <p id="demo">Hi.</p>
    This is the branch tickets screen
    <footer>
      <% include ./partials/footer %>
    </footer>
    <script src = "../../db.js">

    
    </script>
    
  </body>
</html> 