<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="../assets/css/categories.css">
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Categories</h4>
      <a href="#" class="btn btn-primary">Go somewhere</a
      </div>
    </div>
    
    <footer>
      <% include ./partials/footer %>
    </footer>
    
  </body>
</html> 