<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="../assets/css/categories.css">
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    
    <div class="card" style="width:120rem;">
      <div class="card-block">
        <h4 class="card-title">Categories</h4>
      </div>
      <a href="#">
          <img class="card-img-bottom" id="category-img" src="../images/hardware.png" alt="Hardware">
          <img class="card-img-bottom" id="category-img" src="../images/software.png" alt="Software">
          <img class="card-img-bottom" id="category-img" src="../images/password.png" alt="Password">
          <img class="card-img-bottom" id="category-img" src="../images/service.png" alt="Service">
          <img class="card-img-bottom" id="category-img" src="../images/general.png" alt="General">
      </a
    </div>
    
    <footer>
      <% include ./partials/footer %>
    </footer>
    
  </body>
</html> 