<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="../assets/css/general.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
<div class="card" id="super-card">
      <div class="super-panel-heading">
        <a href="#" class="channel-name stripe-two">General</a>
      </div> 
      <div class="card" id="sub-card">
      <div class="accordian-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading" id="heading-one">
            <h4 class="panel-title">
              
              Step 1:Problem<a class="changer" id="changeType" onclick="undo('#collapse1', '#collapse2', '#collapse3', '#collapse4', '#collapse5')" style="visibility:hidden"> Change </a>
              </h4>

          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="issue-description">
              <p1>Please provide a description
              <br>of the problem that 
              <br>you are currently having</p1>
            </div>
            <textarea name="paragraph_text" cols="60" rows="4" id="text-block"></textarea> 
            <button type="button" id="next-btn" class="btn btn-primary" onclick="showInfo()">Submit</button>                   
          </div>          
        </div>
      </div>

 <!--This is for the confirmation-->
  <script>
  function showInfo(){

    var generalSystem = $('#text-block').val();
    
    bootbox.confirm({
      title: "Please confirm your information:",
      message: "<b>general System:</b> " + generalSystem,
      buttons: {
          confirm: {
              label: 'Submit',
              class: 'btn-success',
              
          },
          cancel: {
              label: 'Go back',
              class: 'btn-danger'
          }
      },
      callback: function (result) {
        
        if(result){
          
          postData();
          window.location.href = "/success";
        }
      }
    });
  }

  </script>
 
    <script>
      function postData(req, res){
        var http = new XMLHttpRequest();
        console.log($('username-text-box').val());
        console.log("clicked the next button");
        var params = "GeneralSystem=" + $('#text-block').val();
        console.log(params);
        var url = "/createGeneral";
        console.log("sent " + http.status + " " + http.readyState);
        http.open("POST", url, true);
        console.log(url + " " + http.status + " " + http.readyState);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        http.onreadystatechange = function() {//Call a function when the state changes.
          if(http.readyState == 4 && http.status == 200) {
            console.log(http.responseText);
          }
        };
        http.send(params);
        console.log("sent " + http.status + " " + http.readyState);
      };
    </script>
    <footer>
      <% include ./partials/footer %>
    </footer>
    
  </body>
</html> 