<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="../assets/css/hardware.css">
    <script src="../assets/js/ticketscripts.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <div class="card" id="super-card">
      <div class="super-panel-heading">
        <a href="#" class="channel-name stripe-two">Hardware</a>
      </div> 
      <div class="card" id="sub-card">
        <!-- This is the accordian for hardware tickets -->
        <div class="accordian-group" id="accordion">
          <!-- This is the panel for equipment type --> 
          <div class="panel panel-default" id="equipment-panel">
            <div class="panel-heading" id="heading-one">
              <h4 class="panel-title">   
                Step 1: Equipment Type <a class="changer" id="changeType" onclick="undo('#collapse1', '#collapse2', '#collapse3', '#collapse4', '#collapse5')" style="visibility:hidden"> Change </a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div id="confirmation-buttons">
                <button type="button" id="next-btn" class="btn btn-primary" onclick="toggleAccordianCheck('#collapse1', '#collapse3', '#type-button'); colorHeader('#heading-one', '#changeType')">Next</button>                
              </div>
              <div class="issue-description">
                Please select the type of equipment that you are having trouble with
              </div>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle status" id="type-button" type="button" data-toggle="dropdown">Equipment Type
                <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-inverse">
                  <li><a href="#">AWE</a></li>
                  <li><a href="#">Barcode scanner</a></li>
                  <li><a href="#">Cell phone</a></li>
                  <li><a href="#">Gate</a></li>
                  <li><a href="#">Hotspot</a></li>
                  <li><a href="#">iPad</a></li>
                  <li><a href="#">Laptop</a></li>
                  <li><a href="#">Laser printer</a></li>
                  <li><a href="#">Monitor/LCD</a></li>
                  <li><a href="#">Receipt printer</a></li>
                  <li><a href="#">PC</a></li>
                  <li><a href="#">Projector</a></li>
                  <li><a href="#">RFID pad</a></li>
                  <li><a href="#">Self-checkout</a></li>
                  <li><a href="#">Smart Chute</a></li>
                  <li><a href="#">Sorter</a></li>
                  <li><a href="#">Other</a></li>
                </ul>
              </div> 
            </div>          
          </div>
         
          <!-- This is the panel for computer/device name --> 
          <div class="panel panel-default">
            <div class="panel-heading" id="heading-three">
              <h4 class="panel-title">
                Step 2: Computer/Device Name <a class="changer" id="changeName" onclick="undo('#collapse3', '#collapse2', '#collapse1', '#collapse4', '#collapse5')" style="visibility:hidden"> Change </a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div id="confirmation-buttons">
                <button type="button" class="btn btn-primary" onclick="toggleAccordian('#collapse3', '#collapse4'); colorHeader('#heading-three', '#changeName')">Skip</button>
                <button type="button" class="btn btn-primary" onclick="toggleAccordianCheck('#collapse3', '#collapse4', '#name-text'); colorHeader('#heading-three', '#changeName')">Next</button>                
              </div>
              <div class="issue-description">
                Please enter the device name for the hardware that you are having problems with
              </div>
              <div class="panel-text-box">
                  <input type="text" id="name-text">
              </div>
            </div>
          </div>
      
          <!-- This is the panel for description of problem -->
          <div class="panel panel-default">
            <div class="panel-heading" id="heading-four">
              <h4 class="panel-title">
                Step 3: Description of Problem <a class="changer" id="changeDesc" onclick="undo('#collapse4', '#collapse2', '#collapse3', '#collapse1', '#collapse5')" style="visibility:hidden"> Change </a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div id="confirmation-buttons">
                <button type="button" class="btn btn-primary" onclick="toggleAccordianCheck('#collapse4', '#collapse5', '#desc-text'); colorHeader('#heading-four', '#changeDesc')">Next</button>                
              </div>
              <div class="issue-description">
                Tell us anything you think is relevant to the problems
              </div>
              <div class="text-area">
                <textarea name="paragraph_text" cols="50" rows="5" id="desc-text"> </textarea>
              </div>
            </div>
          </div>

          <!-- This is the panel for error messages -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                Step 4: Error Messages
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">             
              <div id="confirmation-buttons">
                <button type="button" class="btn btn-primary" onClick="showInfo()">Submit</button>              
              </div>
              <label class="control-label" id="label-error">Or tell us about your error:</label>
              <div class="text-upload">
                <textarea id="error-text" name="paragraph_text" cols="50" rows="5"></textarea>  
              </div>
              <div>
                <label class="control-label">Select A File</label>
                <input id="input-1a" type="file" class="file" data-show-preview="false" style="width: 21%;"></input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
    function showInfo(){
  var equipment = $("#type-button").text();
  var assetTag = $('#asset-tag-text').val();    
  var deviceName = $('#name-text').val();
  var ticketInfo =  $('#desc-text').val();
  var errorInfo = document.getElementById('error-text').value;
  var errorImage = $("#input-1a").val();
  if (assetTag === ""){
    assetTag = "n/a";
  }
  if (deviceName === ""){
    deviceName = "n/a";
  }
  if (errorInfo === ""){
    errorInfo = "n/a";
  }
  bootbox.confirm({
    title: "Please confirm your information:",
    message: "<b>Equipment Type:</b> " + equipment +
        "<br><b>Asset Tag:</b> " + assetTag +
        "<br><b>device Name:</b> " + deviceName +
        "<br><b>Description:</b> " + ticketInfo +
        "<br><b>Error Information:</b> " + errorInfo +
        "<br><b>Error url:</b> " + errorImage +
        "<br><b>Error Image:</b> <img src='" + errorImage + "'>",
    buttons: {
        confirm: {
          label: 'Submit',
          class: 'btn-success',    
    },
      cancel: {
        label: 'Go back',
        class: 'btn-danger'
    }
    },
    callback: function (result) { 
      if(result){        
        postData();
        window.location.href = "/success";
      }
    }
  });
}
</script>
    
    <script>
    function postData(req, res){
      var http = new XMLHttpRequest();
      console.log("clicked the submit button");
      console.log($("#type-button").text());
      var params = "EquipmentType=" + $("#type-button").text() + "&AssetTag="+ $('#asset-tag-text').val() + "&Name=" + $('#name-text').val() + "&Description=" + $('#desc-text').val()
      +"&ErrorMessageText=" + document.getElementById('error-text').value;
      console.log(params);
      var url = "/createHardware";
      console.log("sent " + http.status + " " + http.readyState);
      http.open("POST", url, true);
      console.log(url + " " + http.status + " " + http.readyState);
      http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      http.onreadystatechange = function() {//Call a function when the state changes.
        if(http.readyState == 4 && http.status == 200) {
          console.log(http.responseText);
        }
        };
        http.send(params);
        console.log("sent " + http.status + " " + http.readyState);
        return true;
      };
    </script>

    <script>
    $('.dropdown-inverse li > a').click(function(e){
      $('#accordion2').remove();
      $('#next-btn').attr('onclick', "toggleAccordian('#collapse1', '#collapse3'); colorHeader('#heading-one', '#changeType')");
      if(this.innerHTML.match(/iPad/i) || this.innerHTML.match(/Laptop/i) || this.innerHTML.match(/PC/i) || this.innerHTML.match(/Self-checkout/i)){
        console.log("it matched");
        $('#next-btn').attr('onclick', "toggleAccordian('#collapse1', '#collapse2'); colorHeader('#heading-one', '#changeType')");
        var content =
          '<div class="panel-group" id="accordion2">' +
            '<div class="panel panel-default">' +
              '<div class="panel-heading" id="heading-two">' +
                '<h4 class="panel-title">' +
                  'Step 1A: Asset Tag <a id="changeAsset" class="changer" onclick="undo(\'#collapse2\', \'#collapse1\', \'#collapse3\', \'#collapse4\', \'#collapse5\')" style="visibility:hidden"> Change </a>' +
                '</h4>' +
              '</div>' +
              '<div id="collapse2" class="panel-collapse collapse">' +
                '<div id="confirmation-buttons">' +
                  '<button type="button" class="btn btn-primary" onclick="toggleAccordian(\'#collapse2\', \'#collapse3\'); colorHeader(\'#heading-two\', \'#changeAsset\')">Skip</button>' +
                  '<div id="divider"/>' +
                  '<button type="button" class="btn btn-primary" onclick="toggleAccordianCheck(\'#collapse2\', \'#collapse3\', \'#asset-tag-text\'); colorHeader(\'#heading-two\',\'#changeAsset\')">Next</button>' +
                '</div>' +
                '<div class="issue-description">' +
                  '<p1> Please enter the asset tag<br>' +
                    'for the piece of hardware<br>' +
                    'you are having trouble with</p1>' +
                '</div>' +
                '<div class="panel-text-box">' +
                  '<input type="text" id="asset-tag-text">' +
                '</div>' +
              '</div>' +
            '</div>' +
          '</div>';
        $('#accordion #equipment-panel').after(content);
      }
      $('.status').text(this.innerHTML);
      $('.status').append('<span class=\"caret\"></span>')
    });
    </script>
    
    <footer>
      <% include ./partials/footer %>
    </footer>
    
  </body>
</html> 