<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
   
   <link rel="stylesheet" href="../assets/css/home.css">

    <script src="https://use.fontawesome.com/73171399df.js"></script>
    <title>Datatables</title>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <title>Bootstrap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  </head>

  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <script >
      var data = <%-announcements%>
    </script>


  
<!--Announcements card-->
  <div class="card" id="announcement-card">   
    <div class="card-block">
      <h4 class="card-title"><a  href="/announcements" class="channel-name stripe-two">Announcements</a></h4>
           <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
           <script>

           for(var i = 0; i < Object.keys(data).length; i++) { 
                  data[i].SubmittedDate = data[i].SubmittedDate.slice(0,10)
              }


             $(document).ready(function(){


               var myAnnouncements = $('#announcementsTable').DataTable( {
                "order": [[0, "desc"]],
                 "autoWidth": false,
                 "bInfo" : false,
                 "paging": false,
                 "searching": false,
                 "aaData": data,
                 "aoColumns": [

                   { "mDataProp": "SubmittedDate"},
                   { "mDataProp": "Title"},
                   { "mDataProp": "Announcement"},
                   { "mDataProp": "AID"},
                 ],
                 "columnDefs": [ {"targets": 0, "sortable": false,  "className": "dt-left", "width": "6%"}, {"targets": 1, "className": "dt-left", "sortable": false, "width": "15%"}, {"targets": 2, "className": "dt-left", "sortable": false, "width": "50%"}, {"targets": 3, "className": "dt-left", "visible": false, "sortable": false, "width": "2.5%"}]
               });
             });
          </script>
                     <link rel="#dataTable" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
           <table id="announcementsTable" class="display">
            <thead>
               <tr>
                 <th>Date:</th>
                 <th>Subject:</th>
                 <th>Message:</th>
             </tr>
             </thead>
           </table>
    </div>
  </div> <!--/Announcements card-->

<div class="card-group" id="deck">

<!--Branch group-->
<div class="row allign-items-start" id="branch-rows">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="col1">
    <!--My Tickets-->
    <div class="card" id="open-card" >
      <div class="card-block">
        <h3 class="card-title"><a  href="/MyTickets" class="channel-name stripe-one">My Open Tickets</a></h3>
         <div id="openTab" class="tab-pane fade in active" >
           <script>
           var obj1 = <%- openTickets %>;
          for(var i = 0; i < Object.keys(obj1).length; i++) {
              obj1[i].TempDate = obj1[i].TempDate.slice(0,10)
              }

              $(document).ready(function(){
               var myOpen = $('#myOpenTable').DataTable( {
                "order": [[0, "desc"]],
                 "autoWidth": false,
                 "aaData": obj1,
                 "aoColumns": [
                   { "mDataProp": "TempDate" },
                   { "mDataProp": "Symptoms" },
                   { "mDataProp": "Category" },
                   { "mDataProp": "CallID"}
                 ],
                  "filter": false,
                  "lengthChange": false,
                  "bsort": false,
                  "bsortClasses": false,
                  "bInfo": false,
                  "autoWidth": false,
                  "bPaginate": false,
                  "lengthChange": false,
                  "bSort": false,
                   "columnDefs": [ {"targets": 0, "width": "13%"},
                   {"targets": 1, "width": "65%"},
                   {"targets": 2, "width": "13%", "data": null, "defaultContent": "n/a"},
                   {"targets": 3, "width": "10%","data": null, "visible": false}]
               });

               $('#myOpenTable').on('click','tr', function(){

                  var data = myOpen.row(this).data();
                  
                   window.location.href = "/mytickets/view"+data.CallID;
                  });

             });
           </script>

            <link rel="#dataTable" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
            <table id="myOpenTable" class="cell-border" >
              <thead>
                <tr>
                  <th>Date:</th>
                  <th>Description:</th>
                  <th>Category:</th>
                  <th>CallID:</th>
                </tr>
              </thead>
            </table>
   </div>
    
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="col2">
    <div class="card" id="branch-card">
      <div class="card-block">
        <h3 class="card-title"><a  href="/branchtickets" class="channel-name stripe-four">My Branch Tickets</a></h3>
             <script>
              var branch = <%- branchTickets %>;
  
              for(var i = 0; i < Object.keys(branch).length; i++) {
                  branch[i].TempDate = branch[i].TempDate.slice(0,10)
              }
              $(document).ready(function(){
                var myClose = $('#branchTable').DataTable( {
                 "order": [[0, "desc"]],
                 "autoWidth": false,
                 "aaData": branch,
                 "aoColumns": [
                   { "mDataProp": "TempDate" },
                   { "mDataProp": "Symptoms" },
                   { "mDataProp": "Category" },
                   { "mDataProp": "CallID" },
                 ],
                  "filter": false,
                  "bsort": false,
                  "bsortClasses": false,
                  "bInfo": false,
                  "autoWidth": false,
                  "bPaginate": false,
                  "lengthChange": false,
                  "bSort": false,
                 "columnDefs": [ 
                 {"targets": 0, "width": "13%"},
                 {"targets": 1, "width": "65%"},
                 {"targets": 2, "width": "13%", "data": null, "defaultContent": "n/a"},
                 {"targets": 3, "width": "13%", "data": null, "visible": false}]
               });


  
               $('#branchTable').on('click','tr', function(){

                  var data = myClose.row(this).data();
                  
                   window.location.href = "/branchtickets/view"+data.CallID;
                  })

              });
            </script>

            <link rel="#dataTable" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
            <table id="branchTable" class="cell-border">
              <thead>
                <tr>
                  <th>Date:</th>
                  <th>Description:</th>
                  <th>Category:</th>
                  <th>Call ID:</th>
                </tr>
              </thead>
            </table>
        
      </div>
    </div>
  </div>
</div>
</div>
<!--Deck-->

 <!--help card-->
  <div class="card" id="help-card">
    <div class="card-block">
      <h4 class="card-title"><a href="/help" class="channel-name stripe-three">Help</a></h4>
      <ul class="list-group list-group-flush" id="help-body" >
        <li class="list-group-item"><b>Reset iPad: <a href="/help#resetipad"> Click Here</a></b></li>
        <li class="list-group-item"><b>Cable guide: <a href="/help#cableguide"> Click Here</a></b></li>
      </ul>
     
    </div>
  </div>
  <!--help card-->
  
  <footer>
    <% include ./partials/footer %>
  </footer>
    
  </body>

</html> 