<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    >
    
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <header>

  </head> 
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    
      <nav class="navbar navbar-inverse">
    <a href="/" class="navbar-brand"><img src='./images/epl.png'</a>
    <u1 class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="contact">Contact</a></li>
    </u1>
  </nav>
    <form><!--Login forms and buttons -->
    <p>Log in:</p>
      User Name:<br>
      <input type="text" name="username"><br>
      Password:<br>
      <input type="password" name="password"><br>
      <a href="http://www.google.ca">Forgot Password</a><br>
      <input type="submit" name="password" value="Log In">
    </form>

    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>