<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
   <link rel="stylesheet" href="../assets/css/home.css">
    <script src="https://use.fontawesome.com/73171399df.js"></script>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>

    <div class="card w-100" id="super-card">
      
      <div class="card-block">
    
        <h1 class="card-title">
       <a  href="/announcements">Announcements</a>
        </h1>

      <p class="card-text">THIS BETTERW FUCKING WORK</p>
      
      </div>

    </div> <!--End card-->





    <footer>
      <% include ./partials/footer %>
    </footer>
    
  </body>
</html> 