<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
   <link rel="stylesheet" href="../assets/css/home.css">
    <script src="https://use.fontawesome.com/73171399df.js"></script>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>

    <!--Card-->
    <div class="card w-100" id="super-card-announcements">
          
        <div class="card-block">
          <a  href="/announcements" class="channel-name stripe-two">Announcements</a>
        </div>
        </div>
     <!-- List -->        
    <div class="panel panel-default bootcards-summary align-middle">
      <u1 class="list-group list-group-flush">
        <li class="list-group-item">Plz</li>
        <li class="list-group-item">work</li>
        <li class="list-group-item">man</li>
        </u1>
    </div>
    </div> <!--End card-->





    <footer>
      <% include ./partials/footer %>
    </footer>
    
  </body>
</html> 