<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
   <link rel="stylesheet" href="../assets/css/home.css">
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <h1>
    <a href="/announcements" class="channel-name stripe-two">Announcements</a>
    </h1>
    <footer>
      <% include ./partials/footer %>
    </footer>
    
  </body>
</html> 