<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <% include ./partials/head %>
    
  </head>
  <script type="text/javascript" src="/../../../src/test.js"></script>
  <body>
    <header>

    <a href="/login" id="logo">

    <img src='/../images/epl.png' alt="Edmonton Public Library">
    </a>

    </header>
    <div class="card" id="login-card">
    <div class="container">

        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
            <h1>User Login</h1>       

            <!-- LOGIN FORM -->
            <form action="/" method="post"  id= "login-container">
                <div class="col-sm-5">
                    <label id="user">Username:</label>
                    <input type="text" id="user-input" class="form-control" placeholder="Username" name="username" required="">
                    <label id="user">Password:</label>
                    <input type="password" class="form-control" id="user-input-password" placeholder = "Password" name="password" required>

    

                <button type="submit" class="btn btn-warning btn-lg" id="login-btn">Login</button>
                </div>
            </form>
            </div>
        <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4" id="info">
            <h1 id="login-title">
            EPL Web Ticketing
            </h1>
                <div class="col-md-10">
                <h4 id="login-message">
                Welcome to the EPL Web Ticketing System. Please login to manage and create tickets.
                <br><br> If you are having trouble logging in, please contact EPL help desk directly.
                </h4>
                </div>

        </div>

    </div> 
    </div>  
    
      
    <footer>
    <hr>
    </footer>
    
  </body>
</html>