<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
||||||| merged common ancestors
=======
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
>>>>>>> upstream/master
    
  </head>
  <body>
    <header>
<<<<<<< HEAD
    
    <a href="/login" id="logo">

    <img src='/../images/epl.png' alt="Edmonton Public Library">
    </a>
||||||| merged common ancestors
      <% include ./partials/header %>
=======
    
    <a href="/login" id="logo">
    <img src='/../images/epl.png' alt="Edmonton Public Library">
    </a>
>>>>>>> upstream/master
    </header>

    <div class="container">
<<<<<<< HEAD
        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
            <h1><span class="fa fa-code"></span>Login</h1>
||||||| merged common ancestors
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span> Login</h1>
=======
        <div class="col-sm-6">
            <h1><span class="fa fa-code"></span> Login</h1>
>>>>>>> upstream/master

            <!-- LOGIN FORM -->
            <form action="/" method="post"  id= "login-container">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="Username" name="username" required="">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder = "Password" name="password" required>
                </div>

                <button type="submit" class="btn btn-warning btn-lg" id="login-btn">Login</button>
            </form>

            <hr>
<<<<<<< HEAD
        </div>
        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6" id="info">
            <h1>
            EPL Web Ticketing

                <h4>
                Welcome to the EPL Web Ticketing System. Please login to manage and create tickets
                </h4>
||||||| merged common ancestors
=======
        </div>
        <div class="col-sm-6">
            <h1>
            EPL Web Ticketing
>>>>>>> upstream/master

<<<<<<< HEAD
            </h1>
||||||| merged common ancestors
            <p>Need an account? <a href="/signup">Signup</a></p>
            <p>Or go <a href="/">home</a>.</p>
=======
                <h4>
                Welcome to the EPL Web Ticketing System. Please login to manage and create tickets
                </h4>
            </h1>
>>>>>>> upstream/master
        </div>
        

    </div>    
    
      
    <footer>
    <hr>
    </footer>
    
  </body>
</html>