
<!DOCTYPE html>
<html>
  <head>

    <!-- Dependencies -->
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script> <!-- MUST BE AT THE TOP (DECLARED FIRST) -->


    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <style><background-color: blue></style>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../assets/css/mytickets.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <% include ./partials/head %>
  </head>
  
  <body>
    <header>
      <% include ./partials/header %>
    </header>

    <script> var tid; </script>
    
    <div>
    <div class="card" id="super-card-mytickets">

      <div class="super-panel-heading">
        <a href="/mytickets" class="channel-name stripe-two">My Tickets</a>
      </div>

      <div class="panel panel-default bootcards-summary align-middle">
     
        <div id="table-holder" class="container">
  
          <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#openTab">Open</a></li>
          <li><a data-toggle="tab" href="#closedTab">Closed</a></li>
          <li><a data-toggle="tab" href="#allTab">All</a></li>
          </ul>

          <div class="tab-content">

          <!-- Set contents per tab -->
          <div id="openTab" class="tab-pane fade in active">
           <h3>Open Tickets</h3>
           <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
           <script>
           var myOpen, myClose, myAll;
           var obj1 = <%- openTickets %>;
           var myTemp;

             $(document).ready(function(){
               myOpen = $('#myOpenTable').DataTable( {
                 "order": [[0, "desc"]],
                 "autoWidth": false,
                 "aaData": obj1,
                 "aoColumns": [
                   { "mDataProp": "CallID"},
                   { "mDataProp": "TempDate"},
                   { "mDataProp": "Category" },
                   { "mDataProp": "Symptoms" },
                   { "mDataProp": "CallStatus" },
                   { "mDataProp": "action" }
                 ],
                 "columnDefs": [ {"targets": 0, "className": "dt-left", "width": "8%"}, {"targets":1, "className": "dt-left", "width": "10%"} , {"targets": 2, "className": "dt-center", "width": "12%"},{"targets": 3, "width": "40%"},{"targets": 4, "className": "dt-center", "width": "10%"}, {"targets": 5,"className": "dt-center", "data": null,"width": "24%", "searchable": false, "sortable": false, } ]
               });
              
                // This is how we get the CALLID(ticket id) from the row of the selected button
                table_button_handler('#myOpenTable');
             });

              for(var i = 0; i < Object.keys(obj1).length; i++) { // TURN THIS INTO FUNCTION
                if (obj1[i].CallStatus == "Open"){
        
                  myTemp = JSON.stringify(obj1[i].CallID);
                  obj1[i].action = "<button type=button id=view class=btn btn-secondary>View</button>  <button type=button id=edit class=btn btn-secondary>Edit</button> <button type=button id=resolve class=btn btn-secondary>Resolve</button>"
                }
                else{
                  obj1[i].action = "<button type=button style='width:100%' id=view class=btn btn-secondary>View</button>"
                }
              }

              for(var i = 0; i < Object.keys(obj1).length; i++) { //merge this for loop with the one above to reduce redundent code
                  obj1[i].TempDate = obj1[i].TempDate.slice(0,10)
              }


            
           </script>

           <link rel="#dataTable" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
           <table id="myOpenTable" class="display">
             <thead>
               <tr>
                 <th>CallID:</th>
                 <th>Date:</th>
                 <th>Category:</th>
                 <th>Description:</th>
                 <th>Status:</th>
                 <th>Action:</th>
             </tr>
             </thead>
           </table>
         </div>



          <!-- CLOSED TICKETS TAB CONTENT                                   CLOSED     CLOSED     CLOSED                       -->
          <div id="closedTab" class="tab-pane fade">
           <h3>Closed Tickets</h3>
           <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
           <script>
           var obj2 = <%- closedTickets %>;
           for(var i = 0; i < Object.keys(obj2).length; i++) {
                if (obj2[i].CallStatus == "Open" && obj2[i].Resolve == '1'){
                  
                  obj2[i].CallStatus = "Resolved"
                  obj2[i].action = "<button type=button style='width:91%' id=view name=closed class=btn btn-secondary>View</button>"

                }
                else if (obj2[i].CallStatus == "Open"){
                  
                  obj2[i].action = "<button type=button id=view class=btn btn-secondary>View</button>  <button type=button id=edit class=btn btn-secondary>Edit</button>  <button type=button id=resolve class=btn btn-secondary>Resolve</button>"
                }
                else{
                  obj2[i].action = "<button type=button style='width:91%' id=view name=closed class=btn btn-secondary>View</button>"
                }
              }

              for(var i = 0; i < Object.keys(obj2).length; i++) {
                  obj2[i].TempDate = obj2[i].TempDate.slice(0,10)
              }

             $(document).ready(function(){
               myClose = $('#myClosedTable').DataTable( {
                "order": [[0, "desc"]],
                 "autoWidth": false,
                 "aaData": obj2,
                 "aoColumns": [
                   { "mDataProp": "CallID"},
                   { "mDataProp": "TempDate"},
                   { "mDataProp": "Category" },
                   { "mDataProp": "Symptoms" },
                   { "mDataProp": "CallStatus" },
                   { "mDataProp": "action" }
                 ],
                 "columnDefs": [ {"targets": 0, "className": "dt-left", "width": "8%"}, {"targets": 1, "className": "dt-left", "width": "10%"},{"targets": 2, "className": "dt-center", "width": "12%"},{"targets": 3, "width": "40%"},{"targets": 4, "className": "dt-center", "width": "10%"}, {"targets": 5,"className": "dt-center", "data": null,"width": "25%", "searchable": false,"sortable": false,  } ]
               });

               table_button_handler('#myClosedTable');
               $("[name='closed']").width('75%');
             });



            console.log("Creating closed tickets");

           </script>

           <link rel="#dataTable" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
           <table id="myClosedTable" class="display">
             <thead>
               <tr>
                 <th>CallID:</th>
                 <th>Date:</th>
                 <th>Category:</th>
                 <th>Description:</th>
                 <th>Status:</th>
                 <th>Action:</th>
             </tr>
             </thead>
           </table>
         </div>
      
          <!-- ALL TICKETS TAB CONTENT-->
          <div id="allTab" class="tab-pane fade">
           <h3>All Tickets</h3>
           <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
           <script>
           var obj3 = <%- allTickets %>;
              for(var i = 0; i < Object.keys(obj3).length; i++) {
                
                if (obj3[i].CallStatus == "Open" && obj3[i].Resolve == '1'){
                
                  obj3[i].CallStatus = "Resolved"
                  obj3[i].action = "<button type=button style='width:91%' id=view name=closed class=btn btn-secondary>View</button>"

                }
                else if (obj3[i].CallStatus == "Open"){
                  obj3[i].action = "<button type=button autoWidth=on id=view class=btn btn-secondary>View</button> <button type=button autoWidth=on id=edit class=btn btn-secondary>Edit</button> <button type=button autoWidth=on id=resolve class=btn btn-secondary>Resolve</button>"
                }
                else{
                  obj3[i].action = "<button type=button style='width:91%' id=view class=btn btn-secondary>View</button>"
                }
              }

              for(var i = 0; i < Object.keys(obj3).length; i++) {
                  obj3[i].TempDate = obj3[i].TempDate.slice(0,10)
              }


             $(document).ready(function(){
               myAll = $('#myAllTable').DataTable( {
                "order": [[0, "desc"]],
                 "autoWidth": false,
                 "aaData": obj3,
                 "aoColumns": [
                   { "mDataProp": "CallID"},
                   { "mDataProp": "TempDate"},
                   { "mDataProp": "Category" },
                   { "mDataProp": "Symptoms" },
                   { "mDataProp": "CallStatus" },
                   { "mDataProp": "action" }
                 ],
                 "columnDefs": [ {"targets": 0, "className": "dt-left", "width": "8%"}, {"targets":1, "className": "dt-left", "width": "10%"} , {"targets": 2, "className": "dt-center", "width": "12%"},{"targets": 3, "width": "40%"},{"targets": 4, "className": "dt-center", "width": "10%"}, {"targets": 5,"className": "dt-center", "data": null,"width": "24%", "searchable": false, "sortable": false, } ]
               });

               table_button_handler('#myAllTable');
              // $("[name='closed']").width('75%');
             });

            console.log("Creating closed tickets");

           </script>

           <link rel="#dataTable" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
           <table id="myAllTable" class="display">
             <thead>
               <tr>
                 <th>CallID:</th>
                 <th>Date:</th>
                 <th>Category:</th>
                 <th>Description:</th>
                 <th>Status:</th>
                 <th>Action:</th>
             </tr>
             </thead>
           </table>
         </div>
        </div>
      </div>
    </div>
  </div>
  </div>
           
        <script>  //This function handles the on click events for all the "view" buttons 
           function table_button_handler(table){

                $(table).on( 'click', '#view', function () { // VIEW BUTTON
                    console.log("HEY");
                    if(table == "#myOpenTable"){
                      var data = myOpen.row($(this).parents('tr')).data();
                    }
                    else if(table == "#myClosedTable"){
                      var data = myClose.row($(this).parents('tr')).data();
                    }
                    else{
                      var data = myAll.row($(this).parents('tr')).data();
                    }

                    tid=data.CallID;
                    window.location="/mytickets/view"+tid;
                  });

                $(table).on( 'click', '#edit', function () {  // EDIT BUTTON
                    console.log("HEY");
                    if(table == "#myOpenTable"){
                      var data = myOpen.row($(this).parents('tr')).data();
                    }
                    else if(table == "#myClosedTable"){
                      var data = myClose.row($(this).parents('tr')).data();
                    }
                    else{
                      var data = myAll.row($(this).parents('tr')).data();
                    }
                    tid=data.CallID;
                    window.location="/mytickets/edit"+tid;
                    // alert(data.CallID);
                  });

                $(table).on( 'click', '#resolve', function () { //RESOLVE BUTTON
                    console.log("HEY");
                    if(table == "#myOpenTable"){
                      var data = myOpen.row($(this).parents('tr')).data();
                    }
                    else if(table == "#myClosedTable"){
                      var data = myClose.row($(this).parents('tr')).data();
                    }
                    else{
                      var data = myAll.row($(this).parents('tr')).data();
                    }

                    tid=data.CallID;
                    window.location="/mytickets/resolve"+tid;

                    // alert(data.CallID);
                  });
            }
         </script>

 <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>