
<!DOCTYPE html>
<html>
  <head>

    <!-- Dependencies -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <style><background-color: blue></style>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/mytickets.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <% include ./partials/head %>
  </head>
  
  <body>
    <header>
      <% include ./partials/header %>
    </header>
   
    <div>

    <div class="card" id="super-card-mytickets">

      <div class="super-panel-heading">
        <a href="/categories" class="channel-name stripe-two">My Tickets</a>
      </div>

      <div class="panel panel-default bootcards-summary align-middle">
     
        <div id="table-holder" class="container">
  
          <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#openTab">Open</a></li>
          <li><a data-toggle="tab" href="#closedTab">Closed</a></li>
          <li><a data-toggle="tab" href="#allTab">All</a></li>
          </ul>

          <div class="tab-content">

          <!-- Set contents per tab -->
          <div id="openTab" class="tab-pane fade in active">
           <h3>Open Tickets</h3>
           <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
           <script>
           var obj1 = <%- openTickets %>;

                for(var i = 0; i < Object.keys(obj1).length; i++) {
                if (obj1[i].CallStatus == "Open"){
                  obj1[i].action = "<button>View</button>  <button>Edit</button>  <button>Resolve</button>"
                }
                else{
                  obj1[i].action = "<button>View</button>"
                }
              }
           //var obj1JSON = JSON.parse(JSON.stringify(obj1));
             $(document).ready(function(){
               var myOpen = $('#myOpenTable').DataTable( {
                 "autoWidth": false,
                 "aaData": obj1,
                 "aoColumns": [
                   { "mDataProp": "RecvdDate"},
                   { "mDataProp": "Category" },
                   { "mDataProp": "Symptoms" },
                   { "mDataProp": "CallStatus" },
                   { "mDataProp": "action" }
                 ],
                 //"ajax": '../closedTickets.json',
                 "columnDefs": [ {"targets": 1, "width": "12%"},{"targets": 2, "width": "60%"},{"targets": 3, "width": "2%"} ,{"targets": 4,"data": null,"width": "22%", "defaultContent": "<button>View</button>  <button>Edit</button>  <button>Resolve</button>" } ]
               });

            
              //Object.keys(obj1).length;
              //var tempJSON = JSON.stringify(myOpen.column(2).row(0).data())
                console.log( obj1[i].CallStatus );
               //myOpen.
             });

            
           </script>

           <link rel="#dataTable" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
           <table id="myOpenTable" class="display">
             <thead>
               <tr>
                 <th>Date</th>
                 <th>Category</th>
                 <th>Desc</th>
                 <th>Status</th>
                 <th>Action</th>
             </tr>
             </thead>
           </table>
         </div>



          <!-- CLOSED TICKETS TAB CONTENT -->
          <div id="closedTab" class="tab-pane fade">
           <h3>Closed Tickets</h3>
           <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
           <script>
           var obj2 = <%- closedTickets %>;

           for(var i = 0; i < Object.keys(obj2).length; i++) {
                if (obj2[i].CallStatus == "Open"){
                  obj2[i].action = "<button>View</button>  <button>Edit</button>  <button>Resolve</button>"
                }
                else{
                  obj2[i].action = "<button>View</button>"
                }
              }

             $(document).ready(function(){
               $('#myClosedTable').DataTable( {
                 "autoWidth": false,
                 "aaData": obj2,
                 "aoColumns": [
                   { "mDataProp": "RecvdDate"},
                   { "mDataProp": "Category" },
                   { "mDataProp": "Symptoms" },
                   { "mDataProp": "CallStatus" },
                   { "mDataProp": "action" }
                 ],
                 //"ajax": '../closedTickets.json',{ "width": "15%", "targets": 3 }
                 "columnDefs": [ {"targets": 1, "width": "12%"}, {"targets": 2, "width": "70%"},{"targets": 3, "width": "2%"}, {"targets": 4, "width": "10%","data": null, "defaultContent": "<button>View</button>" } ]
               });
             });
            console.log("Creating closed tickets");

           </script>

           <link rel="#dataTable" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
           <table id="myClosedTable" class="display">
             <thead>
               <tr>

                 <th>Category:</th>
                 <th>Desc:</th>
                 <th>Action:</th>
                 <th>Date:</th>
                 <th>Category:</th>
                 <th>Desc:</th>
                 <th>Action:</th>

             </tr>
             </thead>
           </table>
         </div>
      
          <!-- ALL TICKETS TAB CONTENT-->
          <div id="allTab" class="tab-pane fade">
           <h3>All Tickets</h3>
           <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
           <script>
           var obj3 = <%- allTickets %>;

              for(var i = 0; i < Object.keys(obj3).length; i++) {
                if (obj3[i].CallStatus == "Open"){
                  obj3[i].action = "<button>View</button>  <button>Edit</button>  <button>Resolve</button>"
                }
                else{
                  obj3[i].action = "<button>View</button>"
                }
              }


             $(document).ready(function(){
               var myAll = $('#myAllTable').DataTable( {
                 "autoWidth": false,
                 "aaData": obj3,
                 "aoColumns": [
                   { "mDataProp": "RecvdDate"},
                   { "mDataProp": "Category" },
                   { "mDataProp": "Symptoms" },
                   { "mDataProp": "CallStatus" },
                   { "mDataProp": "action" }
                 ],
                 "columnDefs" : [{"targets": 1, "width": "12%"},{"targets": 2, "width": "50%"},{"targets": 3, "width": "2%"},{ "width": "22%", "targets": 4 }]
               });
             });
            console.log("Creating closed tickets");

           </script>

           <link rel="#dataTable" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
           <table id="myAllTable" class="display">
             <thead>
               <tr>
                 <th>Date</th>
                 <th>Category</th>
                 <th>Desc</th>
                 <th>Status</th>
                 <th>Action</th>
             </tr>
             </thead>
           </table>
         </div>


        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
</div>
 <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>