
<!DOCTYPE html>
<html>
  <head>

    <!-- Dependencies -->
    <title>Datatables</title>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <style><background-color: blue></style>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

    <title>The W3.CSS Containers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">

    <title>CSS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/mytickets.css">


    <title>Bootstrap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Cards</title>
        <link rel="stylesheet" href="../assets/css/mytickets.css">
    <script src="https://use.fontawesome.com/73171399df.js"></script>

    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <footer>
      <% include ./partials/footer %>
    </footer>


    <div class="card" id="super-card-mytickets">

      <div class="super-panel-heading">
        <a href="/categories" class="channel-name stripe-two">My   Tickets</a>
        </div>

    
      <div class="panel panel-default bootcards-summary align-middle">
        <div class="w3-container w3-">
  
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#openTab">Open</a></li>
        <li><a data-toggle="tab" href="#closedTab">Closed</a></li>
        <li><a data-toggle="tab" href="#allTab">All</a></li>
      </ul>

      <div class="tab-content">
       <!-- Set contents per tab -->
        <div id="openTab" class="tab-pane fade in active">
          <h3>Open Tickets</h3>
            <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
            <script>
              $(document).ready(function(){
                $('#myOpenTable').DataTable( {

                  "autoWidth": false,
                  // 
                  //"columnDefs": [{ "width": "10%", "targets": 0 }],
                  "columnDefs": [{ "width": "80%", "targets": 1 }],
                  //"columnDefs": [{ "width": "5%", "targets": 2 }],
                  //"columnDefs": [{ "width": "5%", "targets": 3 }],
                  //"columnDefs": [{"className": "dt-center", "targets": "1"}],
                  "columnDefs": [{"text-align" : "center", "targets": "2"}],
                  "ajax": '../openTickets.json', 
                  "columnDefs": [ {"targets": 3,"data": null, "defaultContent": "<button>View</button> <button>Edit</button> <button>Close</button" } ]


                });
              });
            </script>

            <link rel="#dataTable" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
            <table id="myOpenTable" class="display">
            <thead>
              <tr>
                <th>Category</th>
                <th>Desc</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
        </div>

       <!-- Set contents per tab -->
        <div id="closedTab" class="tab-pane fade">
          <h3>Closed Tickets</h3>
            <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
            <script>
              $(document).ready(function(){
                $('#myClosedTable').DataTable( {
                  "autoWidth": false,


                  "ajax": '../closedTickets.json', 
                  "columnDefs": [ {"targets": 3,"data": null, "defaultContent": "<button>View</button>" } ]

                });
              });
            </script>

            <link rel="#dataTable" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
            <table id="myClosedTable" class="display">
            <thead>
              <tr>
                <th>Category</th>
                <th>Desc</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
        </div>
      
       <!-- Set contents per tab -->
        <div id="allTab" class="tab-pane fade">
          <h3>All Tickets</h3>
            <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
            <script>
              $(document).ready(function(){
                $('#myAllTable').DataTable( {
                  "autoWidth": false,
                  "columnDefs": [{ "width": "10%", "targets": 0 }],
                  "ajax": '../arrays.txt', 
                  "columnDefs": [ {"targets": 3,"data": null, "defaultContent": "<button>View</button><button>Close</button" } ]
                });
              });
            </script>

            <link rel="#dataTable" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">               
            <table id="myAllTable" class="display">
            <thead>
              <tr>
                <th>Category</th>
                <th>Desc</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

    </div>
   
  </body>
</html>