<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="../assets/css/software.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <header>
      <% include ./partials/header %>
    </header>

    <div class="card" id="super-card">

      <div class="super-panel-heading">
        <a href="#" class="channel-name stripe-two">Password Reset</a>
      </div>
      <div class="card" id="sub-card">
      <div class="accordian-group" id="accordian">
          <div class="panel panel-default">
            <div class="panel-heading" id="heading-one">
              <h4 class="panel-title"> 
                Step 1: Service<a class="changer" id="changeSystem" onclick="undo('#collapse1', '#collapse2', '#collapse3', '#collapse4')" style="visibility:hidden"> Change </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="issue-description">
                <p1>Please select the system you would like
                <br>a reset for</p1>
              </div> 
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle status" id="type-button" type="button" data-toggle="dropdown">System
                <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-inverse">
                  <li><a href="#">DayForce</a></li>
                  <li><a href="#">iNovah</a></li>
                  <li><a href="#">LibraryOnline</a></li>
                  <li><a href="#">Peoplesoft</a></li>
                  <li><a href="#">SAP</a></li>
                  <li><a href="#">StaffWeb/Active Directory</a></li>
                  <li><a href="#">Peoplesoft</a></li>
                  <li><a href="#">Public website / www.epl.ca</a></li>
                  <li><a href="#">SAP</a></li>
                  <li><a href="#">StaffWeb/Active Directory</a></li>
                  <li><a href="#">Workflows</a></li>
                  <li><a href="#">Other </a></li>
                </ul>                
              </div>        
                  <button type="button" id="next-btn" class="btn btn-primary" onclick="toggleAccordianCheck('#collapse1', '#collapse2', '#type-button'); colorHeader('#heading-one', '#changeSystem')">Next</button>                           
            </div>
          </div>          
        
      </div>

      <div class="panel-group" id="accordion2">
        <div class="panel panel-default">
          <div class="panel-heading" id="heading-two">
            <h4 class="panel-title">
              Step 2: Username <a class="changer" id="changeName" onclick="undo('#collapse2', '#collapse3', '#collapse1', '#collapse4', '#collapse5')" style="visibility:hidden"> Change </a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="issue-description">
                Please enter the username <br>
                for the account that you <br>
                need access to
              </div>
            </div>
            <div id="next-btn-2">
              <button type="button" class="btn btn-primary" onclick="toggleAccordianCheck('#collapse2', '#collapse3', '#name-text'); colorHeader('#heading-two', '#changeName')">Next</button>                
            </div>
            <div class="panel-text-box">
            <input type="text" id="name-text">
            </div>
          </div>
        </div>
      </div>

      <div class="panel-group" id="accordion3">
        <div class="panel panel-default">
          <div class="panel-heading" id="heading-three">
            <h4 class="panel-title">
              Step 3: Name <a class="changer" id="changeName" onclick="undo('#collapse3', '#collapse2', '#collapse1', '#collapse4', '#collapse5')" style="visibility:hidden"> Change </a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="issue-description">
                Please enter the full name <br>
                for the account that you <br>
                need access to
              </div>
            </div>
            <div id="next-btn-3">
              <button type="button" class="btn btn-primary" onclick="showInfo();">Submit</button>                
            </div>
            <div class="panel-text-box">
            <input type="text" id="name-text1">
            </div>
          </div>
        </div>
      </div>

  </div>
</div>

  <script>
  function showInfo(){

    var passwordSystem = $("#type-button").text();
    var userName = $('#name-text').val();
    var fullName =  $('#name-text1').val();
    
    bootbox.confirm({
      title: "Please confirm your information:",
      
      message: "<b>System:</b> " + passwordSystem +
               "<br><b>User Name:</b> " + userName +
               "<br><b>Your name:</b> " + fullName,

      buttons: {
          confirm: {
              label: 'Submit',
              class: 'btn-success',
              
          },
          cancel: {
              label: 'Go back',
              class: 'btn-danger'
          }
      },
      callback: function (result) {
        
        if(result){
          
          postData();
          window.location.href = "/success";
        }
      }
    });
  }
  
  </script>

    <script>
      function postData(req, res){
        var http = new XMLHttpRequest();
        var params = "PasswordSystem=" + $("#type-button").text() + "&Usernametext="  + $('#name-text').val() + "&Fullname=" + $('#name-text1').val();
        //console.log(params);
        var url = "/createPassword";
        //console.log("sent " + http.status + " " + http.readyState);
        http.open("POST", url, true);
        //console.log(url + " " + http.status + " " + http.readyState);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        http.onreadystatechange = function() {//Call a function when the state changes.
          if(http.readyState == 4 && http.status == 200) {
            console.log(http.responseText);
          }
        };
        http.send(params);
        //console.log("sent " + http.status + " " + http.readyState);
      };
    </script>
    
    <script>
    $('.dropdown-inverse li > a').click(function(e){
      $('#next-btn').attr('onclick', "toggleAccordian('#collapse1', '#collapse2'); colorHeader('#heading-one', '#changeType')");
      $('.status').text(this.innerHTML);
      $('.status').append('<span class=\"caret\"></span>')
    });
    </script>

    <footer>
      <% include ./partials/footer %>
    </footer>
    
  </body>
</html> 