<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <div class="card" id="super-card">

      <div class="super-panel-heading">
        <a href="#" class="channel-name stripe-two">Software</a>
      </div>
      <div class="card" id="sub-card">
      <div class="accordian-group" id="accordian">
          <div class="panel panel-default">
            <div class="panel-heading" id="heading-one">
              <h4 class="panel-title"> 
                Step 1: Affected System<a class="changer" id="changeSystem" onclick="undo('#collapse1', '#collapse2', '#collapse3', '#collapse4')" style="visibility:hidden"> Change </a>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="issue-description">
                <p1>Please select the relative system that you are
                <br>having trouble with</p1>
              </div> 
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle status" id="type-button" type="button" data-toggle="dropdown">System
                <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-inverse">
                  <li><a href="#">Apps.epl.ca</a></li>
                  <li><a href="#">Bibliocommons</a></li>
                  <li><a href="#">Dayforce</a></li>
                  <li><a href="#">iNovah</a></li>
                  <li><a href="#">Internet/network access</a></li>
                  <li><a href="#">LibraryOnline</a></li>
                  <li><a href="#">Peoplesoft</a></li>
                  <li><a href="#">Public website / www.epl.ca</a></li>
                  <li><a href="#">SAP</a></li>
                  <li><a href="#">S:/ drive / file share</a></li>
                  <li><a href="#">StaffWeb/Active Directory</a></li>
                  <li><a href="#">VPN</a></li>
                  <li><a href="#">Workflows</a></li>
                  <li><a href="#">Other </a></li>
                </ul>
                
              </div>        
                <div id="next-btn">
                  <button type="button" class="btn btn-primary" onclick="toggleAccordian('#collapse1', '#collapse2'); colorHeader('#heading-one', '#changeSystem')">Next</button>                
                </div>
            </div>
          </div>          
        
      </div>
    <footer>
      <% include ./partials/footer %>
    </footer>
    
  </body>
</html> 