<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="../assets/css/hardware.css">
    <script src="../assets/js/ticketscripts.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width">
    <script>document.documentElement.className = "js";</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <div class="card" id="super-card">
      <div class="super-panel-heading">
        <a href="#" class="channel-name stripe-two">Service</a>
      </div> 
      <div class="card" id="sub-card">
        <div id="accordion" class="widget">
          <div class="panel panel-default">
            <div class="panel-heading" id="heading-one">
              <h4 class="panel-title">
                Step 1: Service Type <a class="changer" id="changeType" onclick="undo('#collapse1', '#collapse2', '#collapse3', '#collapse4', '#collapse5')" style="visibility:hidden"> Change </a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div id="confirmation-buttons">
                <button type="button" id="next-btn" class="btn btn-primary" onclick="toggleAccordianCheck('#collapse1', '#collapse3', '#service-button', '#heading-one', '#changeType')">Next</button>                
              </div>
              <div class="issue-description">
                Please select the type of request that you have
              </div>
              <div class="dropdown">
                <select class="selectpicker type-button" data-live-search="true" data-dropup-auto="false" title="Request Type" id="select-type">
                  <option>System Access</option>
                  <option>Move Equipment</option>
                  <option>New Software</option>
                  <option>New Equipment</option>
                  <option>Surplus Equipment</option>
                </select>     
              </div>
            </div>          
          </div>
        </div>
      </div>
    </div>
   
    <script>
      function postData(req, res){
        var service = $('#select-type').find("option:selected").text();
        var system =  $('#select-access').find("option:selected").text();    
        var assettag = $('#asset-tag-text').val();
        var locate =  $('#text-block').val();
        var software = $("#text-block-2").val();
        var softLoc = $('#text-block-loc').val();
        var personAccs = $('#text-block-acs').val();
        var equipType = $('#select-equip').val();
        if (typeof assettag == "undefined"){
          assettag = "n/a";
        }
        if (typeof locate == "undefined"){
          locate = "n/a";
        }
        if (typeof software == "undefined"){
          software = "n/a";
        }
        if (system == ""){
        system = "n/a";
        }
        if (typeof softLoc == "undefined"){
          softLoc = "n/a";
        }
        if (typeof personAccs == "undefined"){
          personAccs = "n/a";
        }
        if (typeof equipType == "undefined"){
          equipType = "n/a";
        }
        var http = new XMLHttpRequest();
        console.log("clicked the submit button");
        var params = "EquipmentType=" + service + "&System=" + system +  "&AssetTag=" + assettag
        + "&Location=" +locate + "&SoftwareName=" + software + "&SoftwareLocation=" + softLoc + "&Accessor=" + personAccs + "&equipType=" + equipType;
        console.log(params);
        var url = "/createService";
        console.log("sent " + http.status + " " + http.readyState);
        http.open("POST", url, true);
        console.log(url + " " + http.status + " " + http.readyState);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        http.onreadystatechange = function() {//Call a function when the state changes.
          if(http.readyState == 4 && http.status == 200) {
            console.log(http.responseText);
          }
        };
        http.send(params);
        console.log("sent " + http.status + " " + http.readyState);
        return true;
      };
    </script>
    
    <script>
      function showInfo(){
      console.log("showing info");
  var service = $('#select-type').find("option:selected").text();
  var system =  $('#select-access').find("option:selected").text();    
  var assettag = $('#asset-tag-text').val();
  var locate =  $('#text-block').val();
  var software = $("#text-block-2").val();
  var softLoc = $('#text-block-loc').val();
  var personAccs = $('#text-block-acs').val();
  var equipType = $('#select-equip').val();
  if (typeof assettag == "undefined"){
    assettag = "n/a";
  }
  if (typeof locate == "undefined"){
    locate = "n/a";
  }
  if (typeof software == "undefined"){
    software = "n/a";
  }
  if ( system === ""){
    system = "n/a";
  }
  if (typeof softLoc == "undefined"){
    softLoc = "n/a";
  }
  if (typeof personAccs == "undefined"){
    personAccs = "n/a";
  }
  if (typeof equipType == "undefined"){
    equipType = "n/a";
  }
  bootbox.confirm({
    title: "Please confirm your information:",
    message: "<b>Service Type:</b> " + service +
        "<br><b>System Name:</b> " + system +
        "<br><b>Asset Tag:</b> " + assettag +
        "<br><b>Destination:</b> " + locate +
        "<br><b>Software:</b> " + software +
         "<br><b>Install Location:</b> " + softLoc +
         "<br><b>Accessor:</b> " + personAccs +
         "<br><b>Equipment Type:</b> " + equipType,
    buttons: {
        confirm: {
          label: 'Submit',
          class: 'btn-success',    
    },
      cancel: {
        label: 'Go back',
        class: 'btn-danger'
    }
    },
    callback: function (result) { 
      if(result){        
        postData();
        window.location.href = "/success";
      }
    }
  });
}
</script>

    <script> 
      $(document).ready(function(){
        var len = 1;
        $('.selectpicker').on('change',function(){
          console.log("running");
          console.log($(this).find("option:selected").text());
          $('#next-btn').text("Next");
          while (len != 1){
            console.log("#panel"+len)
            $("#panel" + len).remove();
            len--;
          }
        $('#btn-change').attr('href', '#')
        $('#next-btn').attr('onClick', "toggleAccordian('#collapse1', '#collapse2'); colorHeader('#heading-one', '#changeType')");
        if ($(this).find("option:selected").text().match(/System Access/i)){
          var content = 
          '<div class="panel panel-default" id="panel2">' +
            ' <div class="panel-heading" id="heading-two">'+
              ' <h4 class="panel-title">'+
                '  Step 2: System Access <a class="changer" id="changeAccess" onclick="undo(\'#collapse2\', \'#collapse1\', \'#collapse3\', \'#collapse4\', \'#collapse5\')" style="visibility:hidden"> Change </a>'+
                  '</h4>'+
            ' </div>'+
              '<div id="collapse2" class="panel-collapse collapse">'+
              '<div id="confirmation-buttons">'+
                '<button type="button" id="access-btn" class="btn btn-primary" onclick="toggleAccordianCheck(\'#collapse2\',\'#collapse3\', \'#system-button\', \'#heading-two\',\'#changeAccess\')">Next</button>  '              +
              '</div>'+
              ' <div class="issue-description">'+
                  '<p1>Which system would'+
                ' you like to get access to?</p1>'+
              ' </div>'+
              ' <div class="dropdown">'+
                '<select class="selectpicker type-button" data-live-search="true" data-dropup-auto="false" title="Request Type" id="select-access">'+
                  '<option>Dayforce</option>'+
                  '<option>iNovah</option>'+
                  '<option>Library Online</option>'+
                  '<option>SAP</option>'+
                  '<option>>S:/ Drive Folder</option>'+
                  '<option>>VPN</option>'+
                '</select>'+ 
              ' </div>     '   +
              '</div> ' +        
            '</div>'
          
          len++;
          $('#accordion').append(content);
          $('#collapse2 .selectpicker').on('change',function(){
            console.log("it matched");
            $('#access-btn').attr('onclick', "toggleAccordian('#collapse2', '#collapse3','#heading-two', '#changeAccess')");
          });
        }
        
        if ($(this).find("option:selected").text().match(/Move Equipment/i)){
          var content =
          '<div class="panel panel-default" id="panel2">' +
           ' <div class="panel-heading" id="heading-two">'+
             ' <h4 class="panel-title">'+
              '  Step 2: Asset Tags <a class="changer" id="changeATag" onclick="undo(\'#collapse2\', \'#collapse1\', \'#collapse3\', \'#collapse4\', \'#collapse5\')" style="visibility:hidden"> Change </a>'+
              '</h4>'+
             ' </div>'+
              '<div id="collapse2" class="panel-collapse collapse">'+
              '<div id="confirmation-buttons">'+
                '<button type="button" class="btn btn-primary" onclick="toggleAccordianCheck(\'#collapse2\',\'#collapse3\',\'#asset-tag-text\', \'#heading-two\',\'#changeATag\')">Next</button>  '              +
              '</div>'+
               ' <div class="issue-description">'+
                  '<p1>What is the asset tag of'+
                '  the equipment you would like'+
                'moved or surplused?</p1>'+
             '   </div>'+
                ' <div class="panel-text-box">'+
                  '<input type="text" id="asset-tag-text">'+
                '</div>'+
                '</div> ' +        
              '</div>'+
          
          '<div class="panel panel-default" id="panel3">' +
           ' <div class="panel-heading" id="heading-three">'+
             ' <h4 class="panel-title">'+
              '  Step 3: Destination '+
              '</h4>'+
             ' </div>'+
              '<div id="collapse3" class="panel-collapse collapse">'+
              '<div id="confirmation-buttons">'+
                '<button type="button" class="btn btn-primary" onclick="checkFilled(\'#text-block\')")">Submit</button>'              +
              '</div>'+
               ' <div class="issue-description">'+
                  '<p1>Where would you like this'+
                '  equipment moved to?'+
                'moved or surplused?</p1>'+
             '   </div>'+
                '<textarea name="paragraph_text" cols="60" rows="5" id="text-block" class="text-area"></textarea>'+
                '</div> ' +        
              '</div>'
          len += 2;
          $('#accordion').append(content);
          $('#collapse2 .selectpicker').selectpicker('show');
        }
        
        if ($(this).find("option:selected").text().match(/Surplus Equipment/i)){
          var content =
          '<div class="panel panel-default" id="panel2">' +
           ' <div class="panel-heading" id="heading-one">'+
             ' <h4 class="panel-title">'+
              '  Step 2: Asset Tags '+
              '</h4>'+
             ' </div>'+
              '<div id="collapse2" class="panel-collapse collapse">'+
              '<div id="confirmation-buttons">'+
                  '<button type="button" class="btn btn-primary" onclick="checkFilled(\'#asset-tag-text\')")">Submit</button>  '              +
              '</div>'+
               ' <div class="issue-description">'+
                  '<p1>What is the asset tag of'+
                '  <br>the equipment you would like'+
                '<br> moved or surplused?</p1>'+
             '   </div>'+
               ' <div class="panel-text-box">'+
                  '<input type="text" id="asset-tag-text">'+
                '</div>'+
                '</div> ' +        
              '</div>'
              $('#collapse2 .selectpicker').selectpicker('show');
          len++;
          $('#accordion').append(content);
        }
        
        if ($(this).find("option:selected").text().match(/New Software/i)){
          var content =
          '<div class="panel panel-default" id="panel2">' +
           ' <div class="panel-heading" id="heading-two">'+
             ' <h4 class="panel-title">'+
              '  Step 2: Software Name <a class="changer" id="changeSoftName" onclick="undo(\'#collapse2\', \'#collapse1\', \'#collapse3\', \'#collapse4\', \'#collapse5\')" style="visibility:hidden"> Change </a>'+
              '</h4>'+
             ' </div>'+
              '<div id="collapse2" class="panel-collapse collapse">'+
              '<div id="confirmation-buttons">'+
                '<button type="button" class="btn btn-primary" onclick="toggleAccordianCheck(\'#collapse2\',\'#collapse3\',\'#text-block-2\', \'#heading-two\',\'#changeSoftName\')")">Next</button>'              +
              '</div>'+
               ' <div class="issue-description">'+
                  '<p1>What software are you'+
                '  looking for?</p1>'+
             '   </div>'+
                '<div class="text-area">' +
                '<textarea name="paragraph_text" cols="50" rows="5" id="text-block-2"></textarea>'+
                '</div>' +
                '</div> ' +        
              '</div>' +
          '<div class="panel panel-default" id="panel3">' +
           ' <div class="panel-heading" id="heading-three">'+
             ' <h4 class="panel-title">'+
              '  Step 3: PC Name '+
              '</h4>'+
             ' </div>'+
              '<div id="collapse3" class="panel-collapse collapse">'+
              '<div id="confirmation-buttons">'+
                '<button type="button" class="btn btn-primary" onclick="checkFilled(\'#text-block-loc\')")">Submit</button>'              +
              '</div>'+
               ' <div class="issue-description">'+
                  '<p1>What PC would you like this installed on?</p1>'+
             '   </div>'+
                '<textarea name="paragraph_text" cols="60" rows="5" id="text-block-loc" class="text-area"></textarea>'+
                '</div> ' +        
              '</div>'     ;         
          len += 2;
          $('#accordion').append(content);
        }
        if ($(this).find("option:selected").text().match(/System Access/i)){
          var content =
          '<div class="panel panel-default" id="panel3">' +
           ' <div class="panel-heading" id="heading-three">'+
             ' <h4 class="panel-title">'+
              '  Step 3: Accessor Name '+
              '</h4>'+
             ' </div>'+
              '<div id="collapse3" class="panel-collapse collapse">'+
              '<div id="confirmation-buttons">'+
                '<button type="button" class="btn btn-primary" onclick="checkFilled(\'#text-block-acs\')")">Submit</button>'              +
              '</div>'+
               ' <div class="issue-description">'+
                  '<p1>Who is the access for?</p1>'+
             '   </div>'+
                '<textarea name="paragraph_text" cols="60" rows="5" id="text-block-acs" class="text-area"></textarea>'+
                '</div> ' +        
              '</div>'     ;           
          len++;
          $('#accordion').append(content);
          $('#collapse2 .selectpicker').selectpicker('show');
        }
        $('#next-btn').attr('onclick', "toggleAccordian('#collapse1', '#collapse2', '#heading-one', '#changeType')");
        if ($(this).find("option:selected").text().match(/New Equipment/i)){
          var content = 
          '<div class="panel panel-default" id="panel2">' +
            ' <div class="panel-heading" id="heading-two">'+
              ' <h4 class="panel-title">'+
                '  Step 2: Equipment Type <a class="changer" id="changeAccess" onclick="undo(\'#collapse2\', \'#collapse1\', \'#collapse3\', \'#collapse4\', \'#collapse5\')" style="visibility:hidden"> Change </a>'+
                  '</h4>'+
            ' </div>'+
              '<div id="collapse2" class="panel-collapse collapse">'+
              '<div id="confirmation-buttons">'+
                '<button type="button" id="access-btn" class="btn btn-primary" onclick="checkFilled(\'#select-equip\')">Submit</button>  '              +
              '</div>'+
              ' <div class="issue-description">'+
                  '<p1>What kind of new equipment are you looking for?</p1>'+
              ' </div>'+
              ' <div class="dropdown">'+
                '<select class="selectpicker type-button" data-live-search="true" data-dropup-auto="false" title="Request Type" id="select-equip">'+
                  '<option>AWE</option>'+
                  '<option>Barcode scanner</option>'+
                  '<option>Cell phone</option>'+
                  '<option>Gate</option>'+
                  '<option>Hotspot</option>'+
                  '<option>iPad</option>'+
                  '<option>Laptop</option>'+
                  '<option>Laser printer</option>'+
                  '<option>Monitor/LCD</option>'+
                  '<option>Receipt printer</option>'+
                  '<option>PC</option>'+
                  '<option>Projector</option>'+
                  '<option>RFID pad</option>'+
                  '<option>Self-checkout</option>'+
                  '<option>Smart Chute</option>'+
                  '<option>Sorter</option>'+
                  '<option>Other</option>'+
                '</select>'+ 
              ' </div>     '   +
              '</div> ' +        
            '</div>';
          len++;
          $('#accordion').append(content);
          $('#collapse2 .selectpicker').selectpicker('show');
        }
        console.log(len);
        });
      });
    </script>   
    
    <footer>
      <% include ./partials/footer %>
    </footer>    
  </body>
</html> 