<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="../assets/css/software.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <header>
      <% include ./partials/header %>
    </header>


    <div class="card" id="super-card">

      <div class="super-panel-heading">
        <a href="#" class="channel-name stripe-two">Software</a>
      </div>
      <div class="card" id="sub-card">
      <div class="accordian-group" id="accordian">
          <div class="panel panel-default">
            <div class="panel-heading" id="heading-one">
              <h4 class="panel-title"> 
                Step 1: Affected System</a>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="issue-description">
                <p1>Please select the relative system that you are
                <br>having trouble with</p1>
              </div> 
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle status" id="type-button" type="button" data-toggle="dropdown">System
                <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-inverse">
                  <li><a href="#">Apps.epl.ca</a></li>
                  <li><a href="#">Bibliocommons</a></li>
                  <li><a href="#">Dayforce</a></li>
                  <li><a href="#">iNovah</a></li>
                  <li><a href="#">Internet/network access</a></li>
                  <li><a href="#">LibraryOnline</a></li>
                  <li><a href="#">Peoplesoft</a></li>
                  <li><a href="#">Public website / www.epl.ca</a></li>
                  <li><a href="#">SAP</a></li>
                  <li><a href="#">S:/ drive / file share</a></li>
                  <li><a href="#">StaffWeb/Active Directory</a></li>
                  <li><a href="#">VPN</a></li>
                  <li><a href="#">Workflows</a></li>
                  <li><a href="#">Other </a></li>
                </ul>
                
              </div>        
                <div id="next-btn">
                  <button type="button" class="btn btn-primary" onclick="toggleAccordian('#collapse1', '#collapse2'); colorHeader('#heading-one')">Next</button>                
                </div>
            </div>
          </div>          
        
      </div>
      
      <div class="panel-group" id="accordian">
        <div class="panel panel-default">
          <div class="panel-heading" id="heading-two">
            <h4 class="panel-title">
              Step 2: System Status</
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="issue-description">
                <p1> Is the system completely <br>
                      offline/broken?<br>
                      Please select and option</p1>
              </div>
              
              <div class="btn-group" id="radio-button" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="radio" name="options" value="Yes"> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="options" value="No"> No
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="options" value="Don't Know"> Don't Know
                </label>
              </div>

              <div id="next-btn-2">
                <button type="button" class="btn btn-primary" onclick="toggleAccordian('#collapse2', '#collapse3'); colorHeader('#heading-two')">Next</button>  
              </div>
            </div>
            
          </div>
        </div>
        
      </div>
      
      <div class="panel-group" id="accordian">
        <div class="panel panel-default">
          <div class="panel-heading" id="heading-three">
            <h4 class="panel-title">
              Step 3: Description of Problem
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="issue-description">
              Tell us anything you think is <br>
              relevant to the problems
              </div>
            </div>
            <div id="next-btn-3">
              <button type="button" class="btn btn-primary" onclick="toggleAccordian('#collapse3', '#collapse4'); colorHeader('#heading-three')">Next</button>                
            </div>
            <textarea name="paragraph_text" cols="60" rows="7" id="text-block"></textarea>
          </div>
        </div>
      </div>
      
      <div class="panel-group" id="accordian">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              Step 4: Problem Cause
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="next-btn-4">
              <a href="/home"><button type="button" class="btn btn-primary" onclick="postData()">Next</button></a>             
              </div>
              <label class="control-label">Select A File</label>
              <input id="input-1a" type="file" class="file" data-show-preview="false">
              <label class="control-label" id="label-error">Or tell us the steps to replicate the problem:</label>
              <textarea name="paragraph_text" cols="50" rows="5" id="text-block-2"></textarea>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>

  <script>
      function postData(req, res){
        var http = new XMLHttpRequest();
        console.log("clicked the next button");
        var params = "AffectedSystem=" + $("#type-button").text() + "&SystemStatus="+ $('input[name=options]:checked').val() + "&Description=" + $('#text-block').val() + "&ProblemCause=" + $('#text-block-2').val();
        console.log(params);
        var url = "/createSoftware";
        console.log("sent " + http.status + " " + http.readyState);
        http.open("POST", url, true);
        console.log(url + " " + http.status + " " + http.readyState);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        http.onreadystatechange = function() {//Call a function when the state changes.
          if(http.readyState == 4 && http.status == 200) {
            console.log(http.responseText);
          }
        };
        http.send(params);
        console.log("sent " + http.status + " " + http.readyState);
      };
    </script>
    
    <script>
    function colorHeader(header){
      console.log("changing header color");
      console.log(header);
      $(header).css('background-color', 'rgb(170,170,170)');
    };
    </script>
    
    <script>
    $('.dropdown-inverse li > a').click(function(e){
      $('.status').text(this.innerHTML);
    });
    
      function toggleAccordian(close, open){
        console.log("its working");
        $(close).collapse("toggle");
        $(open).collapse("toggle");
      }
      
      function createObject(){
        console.log("Object creating!");
        ticket = {type:document.getElementById("dropdown").value, 
                      please:"work"};
        console.log(ticket.type);  
      }
    </script>
    
    <footer>
      <% include ./partials/footer %>
    </footer>
    
  </body>
</html> 