<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="../assets/css/hardware.css"/>
    <script src="../assets/js/ticketscripts.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
    
  </head>
  <body>

    <header>
      <% include ./partials/header %>
    </header>

    <div class="card" id="super-card">
      <div class="super-panel-heading">
        <a href="#" class="channel-name stripe-two">Software</a>
      </div>
      <div class="card" id="sub-card">
        <!-- This is the accordian for software tickets -->
        <div class="accordian-group" id="accordian">
          <!-- This is the panel for affected systems --> 
          <div class="panel panel-default" id="affected-panel">
            <div class="panel-heading" id="heading-one">
              <h4 class="panel-title"> 
                Step 1: Affected System<a class="changer" id="changeSystem" onclick="undo('#collapse1', '#collapse2', '#collapse3', '#collapse4')" style="visibility:hidden"> Change </a>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div id="confirmation-buttons">
                <button id="next-btn" type="button" class="btn btn-primary" onclick="toggleAccordianCheck('#collapse1', '#collapse2', '#select-type', '#heading-one', '#changeSystem')">Next</button>                
              </div>
              <div class="issue-description">
                Please select the relative system that you are having trouble with.
              </div> 
              <div class="dropdown">
                <select class="selectpicker type-button" data-live-search="true" data-dropup-auto="false" title="Request Type" id="select-type">                  <li><a href="#">Apps.epl.ca</a></li>
                  <option>Bibliocommons</option>
                  <option>Dayforce</option>
                  <option>iNovah</option>
                  <option>Internet access</option>
                  <option>LibraryOnline</option>
                  <option>Peoplesoft</option>
                  <option>www.epl.ca</option>
                  <option>SAP</option>
                  <option>file share</option>
                  <option>StaffWeb</option>
                  <option>VPN</option>
                  <option>Workflows</option>
                  <option>Other </option>
                </select>
              </div>        
            </div>
          </div>          
      
        <!-- This is the panel for system status --> 
        <div class="panel panel-default">
          <div class="panel-heading" id="heading-two">
            <h4 class="panel-title">
              Step 2: System Status<a class="changer" id="changeSysStatus" onclick="undo('#collapse2', '#collapse1', '#collapse3', '#collapse4')" style="visibility:hidden"> Change </a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div id="confirmation-buttons">
              <button type="button" class="btn btn-primary" onclick="toggleAccordianCheck('#collapse2', '#collapse3', 'input[name=options]:checked', '#heading-two', '#changeSysStatus')">Next</button>  
            </div>
            <div class="issue-description">
              Is the system completely offline/broken? Please select an option.
            </div>
            <div class="btn-group" id="radio-button" data-toggle="buttons">
              <label class="btn btn-primary">
                <input type="radio" name="options" value="Yes"> Yes
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="options" value="No"> No
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="options" value="Don't Know"> Don't Know
              </label>
            </div>
          </div>
        </div>

        <!-- This is the panel for descriptions of problem --> 
        <div class="panel panel-default">
          <div class="panel-heading" id="heading-three">
            <h4 class="panel-title">
              Step 3: Description of Problem <a class="changer" id="changeDesc" onclick="undo('#collapse3', '#collapse2', '#collapse1', '#collapse4')" style="visibility:hidden"> Change </a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div id="confirmation-buttons">
              <button id="next-btn"type="button" class="btn btn-primary" onclick="toggleAccordianCheck('#collapse3', '#collapse4', '#text-block', '#heading-three', '#changeDesc')">Next</button>                
            </div>
            <div class="issue-description">
              Tell us anything you think is relevant to the problems.
            </div>
            <textarea name="paragraph_text" cols="60" rows="5" id="text-block" class="text-area"></textarea>
          </div>
        </div>
      
        <!-- This is the panel for problem cause --> 
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              Step 4: Problem Cause
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div id="confirmation-buttons">
              <button type="button" class="btn btn-primary" onclick="showInfo()">Submit</button>             
            </div>
            <div class="issue-description">Please describe the steps to reproduce the problem:</div>
            <div class="text-area">
              <textarea name="paragraph_text" cols="50" rows="5" id="text-block-2"></textarea>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  
   <!--This is for the confirmation-->
  <script>
  function showInfo(){
    var equipment = $('#select-type').find("option:selected").text();
    var systemStatus = $('input[name=options]:checked').val();
    var ticketInfo =  $('#text-block').val();
    var errorInfo = $('#text-block-2').val();
    var outString = "";

    if (typeof equipment != "undefined"){

    outString = outString + "<b>Affected System:</b> " + equipment;
    
    }

    if (typeof systemStatus != "undefined"){

    outString = outString + "<br><b>System Status:</b> " + systemStatus;
    
    }

    if (typeof ticketInfo != "undefined"){

    outString = outString + "<br><b>Description:</b> " + ticketInfo;
    
    }
    if (typeof errorInfo != "undefined"){

    outString = outString + "<br><b>Description:</b> " + errorInfo;
    
    }

    bootbox.confirm({
      title: "Please confirm your information:",
      message: outString,
      buttons: {
          confirm: {
              label: 'Submit',
              class: 'btn-success',
              
          },
          cancel: {
              label: 'Go back',
              class: 'btn-danger'
          }
      },
      callback: function (result) {
        
        if(result){
          
          postData();
          window.location.href = "/success";
        }
      }
    });
  }
  </script>
  
    <script>
      function postData(req, res){
      
      var systemStatus = $('input[name=options]:checked').val();
      var ticketInfo =  $('#text-block').val();
      var errorInfo = $('#text-block-2').val();
      if (typeof systemStatus == "undefined"){
        systemStatus = "n/a";
      }
      if (typeof errorInfo == "undefined"){
        errorInfo = "n/a";
      }
        
        var affected = $('#select-type').find("option:selected").text();
        
        console.log(affected);
        
        if (affected === "Internet access"){
          console.log("swapping");
          affected = "Internet/network access";
        }
        
        if (affected === "www.epl.ca"){
          console.log("swapping");
          affected = "Public website / www.epl.ca";
        }
        
        if (affected === "file share"){
          console.log("swapping");
          affected = "S:/ drive / file share";
        }
        
        if (affected === "StaffWeb"){
          console.log("swapping");
          affected = "StaffWeb/Active Directory";
        }
        
        var http = new XMLHttpRequest();
        console.log("clicked the next button");
        var params = "AffectedSystem=" + affected + "&SystemStatus="+ systemStatus + "&Description=" + ticketInfo + "&ProblemCause=" + errorInfo;
        console.log(params);
        var url = "/createSoftware";
        console.log("sent " + http.status + " " + http.readyState);
        http.open("POST", url, true);
        console.log(url + " " + http.status + " " + http.readyState);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        http.onreadystatechange = function() {//Call a function when the state changes.
          if(http.readyState == 4 && http.status == 200) {
            console.log(http.responseText);
          }
        };
        http.send(params);
        console.log("sent " + http.status + " " + http.readyState);
      };
    </script>
    
    <script>
    $('.selectpicker').on('change',function(){
      console.log($('#select-type').find("option:selected").text());
      if ($('#select-type').find("option:selected").text().match(/Other/i)){
        console.log("Other was selected");
        $('#next-btn').attr('onclick', "toggleAccordian('#collapse1', '#collapse1A'); colorHeader('#heading-one', '#changeSystem')");
        var content =
          '<div class="panel-group" id="accordion1A">' +
            '<div class="panel panel-default">' +
              '<div class="panel-heading" id="heading-1A">' +
                '<h4 class="panel-title">' +
                  'Step 1A: System Name <a id="changeSysName" class="changer" onclick="undo(\'#collapse1A\', \'#collapse1\', \'#collapse3\', \'#collapse4\', \'#collapse2\')" style="visibility:hidden"> Change </a>' +
                '</h4>' +
              '</div>' +
              '<div id="collapse1A" class="panel-collapse collapse">' +
                '<div id="confirmation-buttons">' +
                  '<button type="button" class="btn btn-primary" onclick="toggleAccordianCheck(\'#collapse1A\', \'#collapse2\', \'#sys-name-text\'); colorHeader(\'#heading-1A\',\'#changeSysName\')">Next</button>' +
                '</div>' +
                '<div class="issue-description">' +
                  '<p1>What is the name of the hardware you are having an issue with?</p1>' +
                '</div>' +
                '<div class="panel-text-box">' +
                  '<input type="text" id="sys-name-text">' +
                '</div>' +
              '</div>' +
            '</div>' +
          '</div>';
        $('#accordian #affected-panel').after(content);
      }
    });
    </script>
    
    <footer>
      <% include ./partials/footer %>
    </footer>
    
  </body>
</html> 
