<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
     <link rel="stylesheet" href="../assets/css/success.css">    
    <script src="https://use.fontawesome.com/73171399df.js"></script>
    <title>Bootstrap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>


      <div class="card" id="outter-card">
        <div class="card-block">
          <h4 class="card-title"><a  href="/success" class="channel-name stripe-two">Success</a></h4>
          <div class="card" id="inner-card">
              <div class="card-block">
                <h4 class="card-title" id="inner-title">Title</h4>
                
                <p class="card-text" id="inner-body"><b>Congratulations, your ticket has been submitted</b><br>click below to return home</p>
                <a href="/home" class="btn btn-primary" id="home-button">home</a>
              </div>
            </div>
          
  </div>

</div>     
    </div>
  </div> <!--/Announcements card-->
    <footer>
      <% include ./partials/footer %>
    </footer>
    
  </body>
</html> 