
<!DOCTYPE html>
<html>
  <head>

    <!-- Dependencies -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <style><background-color: blue></style>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/viewticket.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <% include ./partials/head %>
  </head>
  
  <body>
    <header>
      <% include ./partials/header %>
    </header>
   <script type="text/javascript" src="../view.json></script>
<script type="text/javascript" src="javascrip.js"></script>
<script type="text/javascript">
var data = <%- data %>;
  console.log(data);
</script>
    <div class="card" id="super-card-mytickets">
  
        <div class="super-panel-heading">
          <a href="/categories" class="channel-name stripe-two">View Ticket</a>
        </div>

        <div class="container" id="button-container">

          <div id="buttons">
           <button id="edit-btn" type="button" class="btn btn-outline-secondary">Edit</button> 
           <button id="resolve-btn" type="button" class="btn btn-outline-secondary">Resolve</button>
           <button id="exit-btn" type="button" class="btn btn-outline-secondary">Exit</button> 
          </div>
        </div>
        <div class="container" id="body-container">
          <div id="cate-lb">
            <form1>
              <fieldset0>
                <label class="control-label">Category</label><p><span class="label label-default" id="categ">N/A1</span></p>
                <label class="control-label" id="H1"></label><p><span class="label label-default" id="L1"></span></p>
                <label class="control-label" id="H2"></label><p><span class="label label-default" id="L2"></span></p>

              </fieldset0>
              <fieldset1>
                <label class="control-label" id="H3"></label><p><span class="label label-default" id="L3"></span></p>
                <label class="control-label" id="H4"></label><p><span class="label label-default" id="L4"></span></p>
                <label class="control-label" id="H5"></label><p><span class="label label-default" id="L5"></span></p>
              </fieldset1>
            </form1>
          </div>
          <div>
            <p0 id="symptoms0"></p0>
            <p1 id="symptoms1"></p1>
            <p2 id="symptoms2"></p2>
            <p3 id="symptoms3"></p3>
            <p4 id="symptoms4"></p4>
          </div>

          <div id="desc-lb">
            <label class="control-label">Description of the problem:</label>
          </div>
          <div id="desc-text">

            <textarea id="text_results" readonly></textarea>
          </div>
          <div id="stat-lb">
            <label class="control-label">Status:</label>
            <span class="label label-default" id="stat"></span>

          </div>
        </div>
      </div>

      <script>
        $(document).ready(function(){
                // parse here
                // data[0].Symptoms
                // alert("HEY");
                //   var counter = 0;
                //   var word="";                                           //last word parsed out
                //   // var parse_data = data[0].Symptoms;                  //unparsed data
                //   var headings = ["Equipment Type: ", "DeviceID", "DeviceID: ", "", "Error Code: "] 
                //   var objectArr = ["#symptoms0","#symptoms1", "#symptoms2", "#text_results", "#symptoms4"];

          if(data[0].Category == "Hardware"){
              // <label class="control-label">Category:</label>

            var parsed = (data[0].Symptoms).split(",");
            var n = parsed.length;                  //how many entries in array
            // if(n==4){
            //   var headings = ["","","",""]
            //   var ids = ["#symptoms0","#symptoms1", "#symptoms2", "#text_results", "#symptoms3", "#symptoms4"];
            // }
            if(n==5){
              var headings = ["Equip Type","Something","Device","Error Message",""]
              var hids = ["#H1","#H2", "#H3", "#H4", "#H5"];
              var ids = ["#L1","#L2", "#L3", "#text_results", "#L4", "#L5"];
              for(var i=0;i<n;i++){
                if(parsed[i] ==" undefined"){
                  parsed[i]="N/A";
                  
                }
                $(hids[i]).text(headings[i]);
                $(ids[i]).text(parsed[i]);
              }
            }
          }

          $('#categ').text(data[0].Category);
          $('#stat').text(data[0].CallStatus);
                // alert("HOE");
                // $('p3').text(data[0].CallID);
                // $('p4').text(data[0].CallStatus);

                //var n = str.indexOf(",", 0);  //starting from 0
        });
      </script>

 <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>


        
<!-- 
                //                                     //array of objects to store parsed words into
                //    for(var i = 0; i < parse_data.length; i++){
                //       var t = parse_data.charAt(i);
                //       if(t == ","){
                //         if(t=="" || t=="undefined"){
                //           word="N/A";
                //         }
                //         $(objectArr[counter]).text(headings[counter] + word);
                //         word = "";
                //         counter++;
                //       }
                //       else{
                //         word = word + t;
                //       }
                //    }
                //    $(objectArr[counter]).text(headings[counter] + word);
                //    // alert("HEY");
                // }
                //$('#text_results').text(data[0].Symptoms);
                // document.getElementById('lbltipAddedComment').innerHTML = 'your tip has been submitted!'; -->