<a href="/home"><img src='./images/epl.png'></a>
 <nav id="topbar">
  <ul id="main-nav">
    <li class="nav-item">
      <a id="top-menu-link" href="/mytickets">
        <span class="header-menu-item">
        My Tickets
        </span>
      </a>
    </li>
      
  </ul>
</nav>