
<!-- Logo -->
<a href="/home" id="logo">
  <img src='./images/epl.png' alt="Edmonton Public Library">
</a>

<!-- Main Navigation -->

  <nav id="head-nav">
    <ul id="head-li">
      
      <li class="nav-menu-item">
        <a href="/mytickets" class="nav-menu-link">
          <span class"border-wrapper">My Tickets</span>
        </a>
      </li>
      
      <li class="nav-menu-item">
        <a href="/branchtickets" class="nav-menu-link">
          <span class"border-wrapper">Branch Tickets</span>
        </a>
      </li>
      
      <li class="nav-menu-item">
        <a href="/announcements" class="nav-menu-link">
          <span class"border-wrapper">Announcements</span>
        </a>
      </li>
      
      <li class="nav-menu-item">
        <a href="/help" class="nav-menu-link">
          <span class"border-wrapper">Help</span>
        </a>
      </li>
      
    </ul>
  </nav>
