 <style>
 header {
  background-color: #FFFFFF;
 }
 </style>
 
 <a href="/home"><img src='./images/epl.png'></a>
 <a href="/home"><img src='http://www.clipartbest.com/cliparts/ncB/B5r/ncBB5rpei.png' width=20 height=20></a>
 <a href="/mytickets">My Tickets</a>
 <a href="/branchtickets">Branch Tickets</a>
 <a href="/announcements">Announcements</a>
 <a href="/help">Help</a>
 <a href="/categories">New Tickets</a>